body {
    margin: 0;
    background: #06090f;
    color: #d9e1e8;
    font-family: 'Courier New', monospace;
    overflow-x: hidden;
}


body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        to bottom,
        rgba(0,255,255,0.03),
        rgba(0,255,255,0.03) 1px,
        transparent 1px,
        transparent 3px
    );
    pointer-events: none;
}

.container {
    width: 85%;
    max-width: 900px;
    margin: auto;
    padding-top: 80px;
}

.header {
    border-bottom: 1px solid rgba(0,255,255,0.2);
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.header h1 {
    color: #00f7ff;
    letter-spacing: 5px;
    font-size: 26px;
}

.classification {
    color: #ff3c3c;
    font-size: 13px;
    letter-spacing: 3px;
}

.log-text {
    line-height: 1.8;
    font-size: 16px;
    min-height: 200px;
}

.glitch {
    color: #ff3c3c;
    animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
    from { opacity: 1; }
    to { opacity: 0.6; }
}

.hidden-word {
    color: #d9e1e8;
    text-decoration: none;
}

.hidden-word:hover {
    text-decoration: underline;
    color: #00f7ff;
}

.return {
    margin-top: 60px;
    display: inline-block;
    color: #00f7ff;
    text-decoration: none;
    font-size: 13px;
}